

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.image {
    max-width: 100%;
    margin-bottom: 1.5em;
}

.portfolio-image {
  margin: 2em 3em .5em 3em;
}

.main-image {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

h1,h2,h3 {
    font-family: Arimo;
    font-weight: 700;
    text-align: center;
}

h1 {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: .5em;
}



p {
    font-family: Merriweather;
    text-align: center;
    margin-bottom: 2em;
    padding: 5px;
}

.container {
    text-align: center;
    font-family: Merriweather;
    background-color: #d3d3d3;

}

.main-footer {
    background-color: #d3d3d3;
    padding-bottom: 20px;
    max-width: 100%;
}

.nav-links li {
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background: white;
    margin: 5px 10px;
    display: block;
}

a {
    text-decoration: none;
    
}

li:hover {
    transform: scale(1.3) rotate(180deg);
}


#portfolio-header {
    padding: 2em;
}

#contact-header {
    text-transform: uppercase;
    padding-top: 4em;
    padding-bottom: 1em;
}

.footer-para {
    margin-bottom: .75em;
}

.phone {
    margin-bottom: 0;
}

.email {
    margin-bottom: 3em;
}

.contact-footer {
    position: relative;
    text-align: center;
    margin-bottom: 1.2em;
}

#top-link {
    text-transform: uppercase;
        position: absolute;
        top: 50%;
        right: 5px;
        padding: 10px;
}

#end-name {
   position:absolute;
   top: 50%;
   left: 5px;
   padding: 10px;
}

.wrapper {
    max-width: 95%;
    margin: 0 auto;
}


/* Media Queries */

@media (min-width: 768px) {

    .container {
        overflow: hidden;
    }

    .nav-links li {
        display: inline-block;
        background: none;
        border: none;
    }

    .main-para {
        text-align: left;
        padding-left: 1em;
        }

    .main-image {
        float: right;
        display: inline-block;
        max-width: 100%;
        margin-left: 10px;
        margin-right: -2em;
        margin-bottom: 30px
    }

    .portfolio-content {
        float:left;
        display: inline-block;
        max-width: 50%;
    }

    .search-page {
        float: right;
        display: inline-block;
        max-width: 50%;
    }

    .travel-app {
        float:left;
        display: inline-block;
        max-width: 50%;
    }

    .favorite-spots {
        float: right;
        display: inline-block;
        max-width: 50%;
    }

    .image-gallery {
        float:left;
        display: inline-block;
        max-width: 50%;
    }

    .calculator {
        float: right;
        display: inline-block;
        max-width: 50%;
    }

    .main-footer {
        overflow: auto;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    
    .main-para {
        text-align: left;
        padding-left: 1em;
        }

    .main-image {
        float: right;
        display: inline-block;
        max-width: 100%;
        margin-left: 10px;
        margin-right: -2em;
        margin-bottom: 30px
    }

    .portfolio-content {
        float:left;
        display: inline-block;
        max-width: 33%;
    }

    .search-page {
        float: left;
        display: inline-block;
        max-width: 33%;
    }

    .travel-app {
        float:left;
        display: inline-block;
        max-width: 33%;
    }

    .favorite-spots {
        float: right;
        display: inline-block;
        max-width: 33%;
    }

    .image-gallery {
        float:left;
        display: inline-block;
        max-width: 33%;
    }

    .calculator {
        float: right;
        display: inline-block;
        max-width: 33%;
    }
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }








